<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Web Guesser</title>
    <style type="text/css">
      body {
        background-color: <%= background_color %>
      }
      </style>
  </head>
  <body>
    <form>
      <input type="text" name="guess" />
      <input type="submit" value="Guess!" />
    </form>
    <p>
    Turns left: <%= turns %>
    <br>
    <br>
      <%= "Your guess was #{guess}." if guess %> <%= message %>
    </p>
    <% if guess == number || cheat_mode %>
      <p>
        The SECRET NUMBER is <%= number %>.
      </p>
    <% end %>
  </body>
</html>
